<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contacto</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/New Era Games/css/contacts.css">
</head>

<body>
    <div class="container">
        <form class="form">
            <h2>Escribenos</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus itaque a blanditiis doloribus
                molestias iste voluptate ipsa, sapiente deserunt quaerat minus fuga eaque voluptatum nostrum totam nam?
                Corrupti, voluptatem suscipit.
            </p>
            <label for="nombre">Escribe tu nombre</label>
            <input type="text" id="nombre" class="box" >
            <label for="correo">Escribe tu correo </label>
            <input type="email" id="correo" class="box" >
            <label for="mensaje">Escribe tu mensaje</label>
            <textarea class="box" id="mensaje" cols="30" rows="10"></textarea>
            <input type="submit" value="enviar" class="submit">
        </form>
        <div class="info">
            <img src="/New Era Games/img/Contact image/info-1.svg" class="img-1" alt="">
            <div class="location">
                    <div class="icons">
                        <img src="/New Era Games/img/Contact image/gps.svg" alt="">
                        <p>calle de donde estara la oficina</p>
                    </div>
                    <div class="icons">
                        <img src="/New Era Games/img/Contact image/number.svg" alt="">
                        <p>numero de la empresa</p>
                    </div>
                    <div class="icons">
                        <img src="/New Era Games/img/Contact image/email.svg" alt="">
                        <p>correo de la empresa</p>
                    </div>
            </div>
            <div class="social">
                <img src="/New Era Games/img/Contact image/fa.svg" alt="">
                <img src="/New Era Games/img/Contact image/tw.svg" alt="">
                <img src="/New Era Games/img/Contact image/ins.svg" alt="">
            </div>
            
        </div>
    </div>

</body>

</html>