<!DOCTYPE html> <html>
    <head>
        <title>New Era Games</title>
        <link rel="stylesheet" href="./../css/styles.css">
	    <meta charset="UTF-8">
        <link rel="icon" href="./../img/logo.png">
    </head>
    <body>
        <header class="glass-effect" id="header">
            <a href="/"><img src="./../img/logo.png" alt="logo" class="logo"></a>
            <nav>
                <input class="search" type="text" placeholder="Buscar...">
                <a href="./login.html">Iniciar Sesión</a>
                <a href="./contacto.html">Contacto</a>
            </nav>
        </header>
        <main class="main-layout">
            <aside class="filters-sidebar">
                <nav>
                    <div class="container">
                    <input type="radio" name="option" id="1" checked />
                    <label for="1">
                        <div class="tab-name">Home</div>
                    </label>
                    <input type="radio" name="option" id="2" />
                    <label for="2">
                        <div class="tab-name">Blog</div>
                    </label>
                    <input type="radio" name="option" id="3" />
                    <label for="3">
                        <div class="tab-name">Shop</div>
                    </label>
                    <input type="radio" name="option" id="4" />
                    <label for="4">
                        <div class="tab-name">News</div>
                    </label>
                    </div>
                </nav>
            </aside>
        </main>
        <section class="games-grid">
            <div class="card-container">
                <a href="game.html" class="card-link">
                    <img src="./../img/games/fn.png" class="cover" alt="fn">
                    <a class="title">Fortnite</a>
                    <div class="categories-wrapper">
                        <span class="category">Aventura</span>
                        <span class="category">Acción</span>
                    </div>
                    <p class="desc">Fortnite is a battle royale game</p>
                    <div class="user-info">
                        <img src="./../img/users/profile.png" alt="profile-pic" class="profile-pic">
                        <p class="username">User</p>
                    </div>
                </a>
            </div>
            <div class="card-container">
                <a href="fn.html" class="card-link">
                    <img src="./../img/games/fn.png" class="cover" alt="fn">
                    <a class="title">Fortnite</a>
                    <div class="categories-wrapper">
                        <span class="category">Aventura</span>
                        <span class="category">Acción</span>
                    </div>
                    <p class="desc">Fortnite is a battle royale game</p>
                    <div class="user-info">
                        <img src="./../img/users/profile.png" alt="profile-pic" class="profile-pic">
                        <p class="username">User</p>
                    </div>
                </a>
            </div>
            <div class="card-container">
                <a href="fn.html" class="card-link">
                    <img src="./../img/games/fn.png" class="cover" alt="fn">
                    <a class="title">Fortnite</a>
                    <div class="categories-wrapper">
                        <span class="category">Aventura</span>
                        <span class="category">Acción</span>
                    </div>
                    <p class="desc">Fortnite is a battle royale game</p>
                    <div class="user-info">
                        <img src="./../img/users/profile.png" alt="profile-pic" class="profile-pic">
                        <p class="username">User</p>
                    </div>
                </a>
            </div>
            <div class="card-container">
                <a href="fn.html" class="card-link">
                    <img src="./../img/games/fn.png" class="cover" alt="fn">
                    <a class="title">Fortnite</a>
                    <div class="categories-wrapper">
                        <span class="category">Aventura</span>
                        <span class="category">Acción</span>
                    </div>
                    <p class="desc">Fortnite is a battle royale game</p>
                    <div class="user-info">
                        <img src="./../img/users/profile.png" alt="profile-pic" class="profile-pic">
                        <p class="username">User</p>
                    </div>
                </a>
            </div>
            <div class="card-container">
                <a href="fn.html" class="card-link">
                    <img src="./../img/games/fn.png" class="cover" alt="fn">
                    <a class="title">Fortnite</a>
                    <div class="categories-wrapper">
                        <span class="category">Aventura</span>
                        <span class="category">Acción</span>
                    </div>
                    <p class="desc">Fortnite is a battle royale game</p>
                    <div class="user-info">
                        <img src="./../img/users/profile.png" alt="profile-pic" class="profile-pic">
                        <p class="username">User</p>
                    </div>
                </a>
            </div>
            <div class="card-container">
                <a href="fn.html" class="card-link">
                    <img src="./../img/games/fn.png" class="cover" alt="fn">
                    <a class="title">Fortnite</a>
                    <div class="categories-wrapper">
                        <span class="category">Aventura</span>
                        <span class="category">Acción</span>
                    </div>
                    <p class="desc">Fortnite is a battle royale game</p>
                    <div class="user-info">
                        <img src="./../img/users/profile.png" alt="profile-pic" class="profile-pic">
                        <p class="username">User</p>
                    </div>
                </a>
            </div>
            <div class="card-container">
                <a href="fn.html" class="card-link">
                    <img src="./../img/games/fn.png" class="cover" alt="fn">
                    <a class="title">Fortnite</a>
                    <div class="categories-wrapper">
                        <span class="category">Aventura</span>
                        <span class="category">Acción</span>
                    </div>
                    <p class="desc">Fortnite is a battle royale game</p>
                    <div class="user-info">
                        <img src="./../img/users/profile.png" alt="profile-pic" class="profile-pic">
                        <p class="username">User</p>
                    </div>
                </a>
            </div>
            <div class="card-container">
                <a href="fn.html" class="card-link">
                    <img src="./../img/games/fn.png" class="cover" alt="fn">
                    <a class="title">Fortnite</a>
                    <div class="categories-wrapper">
                        <span class="category">Aventura</span>
                        <span class="category">Acción</span>
                    </div>
                    <p class="desc">Fortnite is a battle royale game</p>
                    <div class="user-info">
                        <img src="./../img/users/profile.png" alt="profile-pic" class="profile-pic">
                        <p class="username">User</p>
                    </div>
                </a>
            </div>
            <div class="card-container">
                <a href="fn.html" class="card-link">
                    <img src="./../img/games/fn.png" class="cover" alt="fn">
                    <a class="title">Fortnite</a>
                    <div class="categories-wrapper">
                        <span class="category">Aventura</span>
                        <span class="category">Acción</span>
                    </div>
                    <p class="desc">Fortnite is a battle royale game</p>
                    <div class="user-info">
                        <img src="./../img/users/profile.png" alt="profile-pic" class="profile-pic">
                        <p class="username">User</p>
                    </div>
                </a>
            </div>
            <div class="card-container">
                <a href="fn.html" class="card-link">
                    <img src="./../img/games/fn.png" class="cover" alt="fn">
                    <a class="title">Fortnite</a>
                    <div class="categories-wrapper">
                        <span class="category">Aventura</span>
                        <span class="category">Acción</span>
                    </div>
                    <p class="desc">Fortnite is a battle royale game</p>
                    <div class="user-info">
                        <img src="./../img/users/profile.png" alt="profile-pic" class="profile-pic">
                        <p class="username">User</p>
                    </div>
                </a>
            </div>
        </section>
        <footer>
            <div>
                <h1>Siguenos En Nuestras Redes!</h1>
                <div class="social">
                <a href="www.instagram.com/new-era-games">
                    <img src="/New Era Games/img/Contact image/ins.svg">
                </a>
                </div>
                
            </div>
        </footer>
        <script type="text/javascript">
            const header = document.getElementById('header');
            const main = document.querySelector('.main-layout');
            let lastScrollY = window.scrollY;

            window.addEventListener('scroll', () => {
                const currentScrollY = window.scrollY;

                if (currentScrollY > lastScrollY && currentScrollY > 80) {
                        header.classList.add('header--scroll-down');
                        main.classList.add('main--scroll-down')
                    }   else {
                            header.classList.remove('header--scroll-down');
                            main.classList.remove('main--scroll-down')
                    }

                    lastScrollY = currentScrollY;

            });
        </script>
    </body>
</html>